* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('./img/GettyImages-1320646994.webp');
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #6e521a;
  color: #fff;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-brand h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover {
  background-color: #ffcc00;
  color: #333;
}

.navbar-logout {
  background-color: #f44336;
  padding: 8px 15px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.navbar-logout:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.container {
  padding-top: 80px;
}