body {
  font-family: Roboto, sans-serif;
  background-image: url('./img/GettyImages-1320646994.webp'); /* Adicione sua imagem de fundo */
  background-size: cover;
  background-position: center;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo semitransparente */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #007bff; 
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.alert {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
}
