
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./img/GettyImages-1320646994.webp'); 
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;    
  background-attachment: fixed;     
  color: #333;
}

.container {
  max-width: 750px; 
  width: 100%; 
}

.button-container {
  display: flex;
  gap: 10px; /* Adiciona espaço entre os botões */
  margin-top: 15px;
}

.agendamento-container {
  background: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}


h2 {
  text-align: center; 
  color: #000000; 
  margin-bottom: 20px;
}

.agendamento-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.agendamento-form label {
  margin-bottom: 5px; 
}

.agendamento-form select,
.agendamento-form input[type="date"],
.agendamento-container input[type="time"],
.agendamento-form input[type="text"] {
  width: 100%; 
  padding: 12px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.agendamento-form select:focus,
.agendamento-form input[type="date"]:focus,
.agendamento-form input[type="time"]:focus {
  border-color: #4CAF50;
  outline: none;
}


.agendamento-form button {
  width: 100%; 
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50;
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
}

.agendamento-form button:hover {
  background-color: #38803b;
  transform: translateY(-2px); 
}


.agendamento-table {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
}

.agendamento-table th,
.agendamento-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  transition: background-color 0.3s;
}

.agendamento-table th {
  background-color: #855f00;
  color: white;
  font-weight: bold;
}

.agendamento-table td {
  background-color: #f9f9f9;
}

.agendamento-table tr:hover td {
  background-color: #eaeaea;
}


.delete-btn {
  color:#f9f9f9;
  background-color: #f44336;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-btn:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.agendar-btn,
.voltar-btn {
  text-align: center;
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.agendar-btn:hover {
  background-color: #45a049;
  
}

.voltar-btn {
  background-color: #007BFF;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.voltar-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}