<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="/static/styles-agendamento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="agendamento-container">
            <h2>Agendamentos</h2>

            <form method="POST" action="/agendamentos" class="agendamento-form">
                <label for="cliente">Cliente:</label>
                <select id="cliente" name="cliente" required>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                    {% endfor %}
                </select>

                <label for="servico">Serviço:</label>
                <select id="servico" name="servico" required>
                    {% for servico in servicos %}
                        <option value="{{ servico.id }}">{{ servico.nome_servico }}</option>
                    {% endfor %}
                </select>

                <label for="data">Data do Agendamento:</label>
                <input type="date" id="data" name="data" required>

                <label for="hora">Hora do Agendamento:</label>
                <input type="time" id="hora" name="hora" required>

                <div class="button-container">
                    <button type="submit" class="agendar-btn">Agendar</button>
                    <a href="/menu" class="btn voltar-btn">Voltar ao Menu</a>
                </div>
            </form>
            <table class="agendamento-table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Serviço</th>
                        <th>Preço</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.cliente_nome }}</td>
                        <td>{{ agendamento.nome_servico }}</td>
                        <td>R$ {{ agendamento.preco }}</td>
                        <td>{{ agendamento.data.strftime('%d-%m-%Y') }}</td>
                        <td>{{ agendamento.hora.strftime('%H:%M') }}</td>
                        <td>
                            <form action="{{ url_for('delete_agendamento', agendamento_id=agendamento.id) }}" method="POST" class="delete-form">
                                <button type="submit" class="btn delete-btn">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>