<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="/static/styles-cadastro-servicos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Usuários</h1>
        <form method="POST" action="{{ url_for('cadastro_usuario') }}">
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" required><br>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required><br>
                      
            <div class="button-container">
                <button type="submit" class="btn cadastrar-btn">Cadastrar</button>
                <a href="/menu" class="btn voltar-btn">Voltar ao Menu</a>
            </div>
        </form>
        
        <h3>Usuários Cadastrados:</h3>
        <ul>
            {% for user in usuarios %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    
    </div>
</body>
</html>