<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Inicial</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h1>Bem-vindo, {{ username }}!</h1>
        </div>
        <ul class="navbar-menu">
            <li><a href="/cadastro-clientes">Cadastro de Clientes</a></li>
            <li><a href="/cadastro-servicos">Cadastro de Serviços</a></li>
            <li><a href="/agendamentos">Agendamentos</a></li>
            <li><a href="/logout" class="navbar-logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>