<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Inicial</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h1>Bem-vindo, {{ username }}!</h1>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('cadastro_clientes') }}">Cadastrar Cliente</a></li>
            <li><a href="{{ url_for('cadastro_servicos') }}">Cadastrar Serviço</a></li>
            <li><a href="{{ url_for('agendamentos_view') }}">Agendamentos</a></li>

            <!-- Exibe a opção de cadastrar usuário apenas se a role for 'ADMIN' -->
            {% if role == 'ADMIN' %}
                <li><a href="{{ url_for('cadastro_usuario') }}">Cadastrar Usuário</a></li>
            {% endif %}
            
            <li><a href="/logout" class="navbar-logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
